# Copyright (c) 2024, Itential, Inc
# GNU General Public License v3.0+ (see LICENSE or https://www.gnu.org/licenses/gpl-3.0.txt)
---
- name: Configure SELinux
  when: ansible_selinux.status == "enabled"
  block:
    - name: Install Redis security packages
      ansible.builtin.dnf:
        name: "{{ redis_security_packages }}"
        state: present
        update_cache: true
      when:
        - not offline_install_enabled | bool
        - redis_security_packages is defined
        - redis_security_packages is iterable
        - redis_security_packages | length > 0

    - name: Install Redis security packages (offline)
      ansible.builtin.import_role:
        name: offline
        tasks_from: install-rpms
      when: offline_install_enabled | bool
      vars:
        offline_rpms_path: "{{ redis_offline_control_node_rpms_dir }}/security"

    - name: SELinux - Install custom profiles
      ansible.builtin.include_role:
        name: selinux

    - name: SELinux - Configure port when using non-standard Redis port
      community.general.seport:
        ports: "{{ redis_port }}"
        proto: tcp
        setype: redis_port_t
        state: present
      when: redis_port != redis_port_default

    - name: SELinux - Configure port when using non-standard Sentinel port
      community.general.seport:
        ports: "{{ redis_sentinel_port }}"
        proto: tcp
        setype: redis_port_t
        state: present
      when:
        - redis_replication_enabled | bool
        - redis_sentinel_port != redis_sentinel_port_default

    - name: SELinux - Configure file context when using non-standard bin directory
      ansible.builtin.include_role:
        name: selinux
        tasks_from: configure-context
      vars:
        selinux_target: "{{ redis_bin_dir }}/redis-server"
        selinux_setype: redis_exec_t
        selinux_ftype: f
        selinux_path: "{{ redis_bin_dir }}"
      when: redis_bin_dir != redis_bin_dir_default_packages or
            redis_bin_dir != redis_bin_dir_default_source

    - name: SELinux - Configure file context when using non-standard log directory
      ansible.builtin.include_role:
        name: selinux
        tasks_from: configure-context
      vars:
        selinux_target: "{{ redis_log_dir }}(/.*)?"
        selinux_setype: redis_log_t
        selinux_path: "{{ redis_log_dir }}"
      when: redis_log_dir != redis_log_dir_default

    - name: SELinux - Configure file context when using non-standard data directory
      ansible.builtin.include_role:
        name: selinux
        tasks_from: configure-context
      vars:
        selinux_target: "{{ redis_data_dir }}(/.*)?"
        selinux_setype: redis_var_lib_t
        selinux_path: "{{ redis_data_dir }}"
      when: redis_data_dir != redis_data_dir_default

    - name: SELinux - Configure file context when using non-standard configuration directory
      ansible.builtin.include_role:
        name: selinux
        tasks_from: configure-context
      vars:
        selinux_target: "{{ redis_conf_dir }}(/.*)?"
        selinux_setype: redis_conf_t
        selinux_path: "{{ redis_conf_dir }}"
      when: redis_conf_dir != redis_conf_dir_default
