# Copyright (c) 2024, Itential, Inc
# GNU General Public License v3.0+ (see LICENSE or https://www.gnu.org/licenses/gpl-3.0.txt)
---
- name: Check to see if Redis is already installed
  ansible.builtin.stat:
    path: "{{ redis_bin_dir }}/redis-server"
  register: redis_installed

- name: Determine if a rebuild is required
  when: redis_installed.stat.exists
  block:
    - name: Determine current Redis version
      ansible.builtin.shell:
        cmd: 'set -o pipefail && redis-server --version | cut -d" " -f3 | cut -d"=" -f2'
      register: current_redis_result
      check_mode: false
      changed_when: false
      failed_when: current_redis_result.rc != 0
      environment:
        PATH: "{{ ansible_env.PATH }}:{{ redis_bin_dir }}"

    - name: Set requires build flag if this is a new Redis version
      ansible.builtin.set_fact:
        requires_rebuild: "{{ current_redis_result.stdout != (redis_source_url
          | basename | split('.tar.gz') | first) }}"

- name: Install Redis
  when: (not redis_installed.stat.exists) or (requires_rebuild | default(false))
  block:
    - name: Create temporary working directory
      ansible.builtin.tempfile:
        state: directory
      register: redis_build_temp_dir

    - name: Online install
      when: not offline_install_enabled
      block:
        - name: Refresh repository metadata
          shell: dnf clean metadata && dnf makecache
          
        - name: Install Redis build packages
          ansible.builtin.dnf:
            name: "{{ item }}"
            state: latest
          register: redis_install_result
          with_items: "{{ redis_build_packages }}"
          when:
            - redis_build_packages is defined
            - redis_build_packages is iterable
            - redis_build_packages | length > 0

        - name: Download Redis source archive
          ansible.builtin.get_url:
            url: "{{ redis_source_url }}"
            dest: "{{ redis_build_temp_dir.path }}"
            mode: "0644"
          register: redis_download

        - name: Unarchive Redis source archive
          ansible.builtin.unarchive:
            src: "{{ redis_download.dest }}"
            dest: "{{ redis_build_temp_dir.path }}"
            remote_src: true
          register: unarchive_result

        - name: Set the Redis build directory
          ansible.builtin.set_fact:
            redis_build_dir: "{{ unarchive_result.src.split('.tar.gz')[0] }}"

    - name: Offline install
      when: offline_install_enabled
      block:
        - name: Copy Redis archive (offline)
          ansible.builtin.copy:
            src: "{{ item }}"
            dest: "{{ redis_build_temp_dir.path }}/{{ item | basename }}"
            mode: '0644'
          with_fileglob: "{{ redis_offline_control_node_archives_dir }}/redis*.tar.gz"

        - name: Find Redis archive (offline)
          ansible.builtin.find:
            paths: "{{ redis_build_temp_dir.path }}"
            patterns: "redis*.tar.gz"
          register: redis_archive

        - name: Unarchive Redis source archive (offline)
          ansible.builtin.unarchive:
            src: "{{ redis_archive.files[0].path }}"
            dest: "{{ redis_build_temp_dir.path }}"
            remote_src: true
          register: unarchive_result

        - name: Set the Redis build directory
          ansible.builtin.set_fact:
            redis_build_dir: "{{ unarchive_result.src.split('.tar.gz')[0] }}"

    - name: Make Redis
      community.general.make:
        chdir: "{{ redis_build_dir }}"
        target: install
        params:
          USE_SYSTEMD: true
          PREFIX: "{{ redis_bin_dir | dirname }}"
      tags: make_redis

    - name: Remove temporary working directory
      ansible.builtin.file:
        path: "{{ redis_build_temp_dir.path }}"
        state: absent

    - name: Uninstall Redis build packages
      ansible.builtin.dnf:
        name: "{{ item }}"
        allowerasing: true
        autoremove: true
        state: absent
      with_items: "{{ redis_install_result.results | selectattr('changed', 'equalto', true)
                  | map(attribute='item') }}"
      when:
        - not offline_install_enabled
        - redis_install_result.results is defined
        - redis_install_result.results is iterable
        - redis_install_result.results | length > 0
