# Copyright (c) 2024, Itential, Inc
# GNU General Public License v3.0+ (see LICENSE or https://www.gnu.org/licenses/gpl-3.0.txt)
---
- name: Include tasks to validate variables
  ansible.builtin.include_tasks:
    file: validate-vars.yml

- name: Install base OS packages
  ansible.builtin.include_role:
    name: os
  tags: install_base_os_packages

- name: Install and configure Redis
  notify:
    - Enable and Start Redis
    - Enable and Start Redis Sentinel
  block:
    - name: Install Redis
      tags: install_redis
      block:
        - name: Include common installation tasks
          ansible.builtin.include_tasks:
            file: install-common.yml

        - name: Include tasks to perform online installation
          when: not offline_install
          block:
            - name: Include tasks to install Redis using source
              ansible.builtin.include_tasks:
                file: install-from-source.yml
              when: redis_install_from_source | bool

            - name: Include tasks to install Redis using repo
              ansible.builtin.include_tasks:
                file: install-from-repo.yml
              when: not redis_install_from_source | bool

        - name: Include tasks to perform offline installation
          ansible.builtin.include_tasks:
            file: install-offline.yml
          when: offline_install

    - name: Configure Redis/Sentinel
      tags: configure_redis
      block:
        - name: Include tasks to configure SELinux
          ansible.builtin.include_tasks:
            file: configure-selinux.yml
          when: ansible_selinux.status == "enabled"

        - name: Include tasks to configure Redis
          ansible.builtin.include_tasks:
            file: configure-redis.yml

        - name: Include tasks to configure Sentinel
          ansible.builtin.include_tasks:
            file: configure-sentinel.yml
          when: redis_replication | bool

- name: Update Itential release file
  tags: update_release_file
  block:
    - name: Determine redis version
      ansible.builtin.shell:
        cmd: 'set -o pipefail && redis-server --version | cut -d" " -f3 | cut -d"=" -f2'
      register: result
      check_mode: false
      changed_when: false
      failed_when: result.rc != 0
      environment:
        PATH: "{{ ansible_env.PATH }}:{{ redis_bin_dir }}"

    - name: Write redis release information
      ansible.builtin.lineinfile:
        path: "{{ itential_release_file }}"
        line: "REDIS={{ result.stdout }}"
        create: true
        mode: "0644"
