# Copyright (c) 2024, Itential, Inc
# GNU General Public License v3.0+ (see LICENSE or https://www.gnu.org/licenses/gpl-3.0.txt)
---
- name: Download packages
  block:
    - name: Validation steps
      tags: always
      block:
        - name: Validate offline_install_enabled variable
          ansible.builtin.fail:
            msg: offline_install_enabled must be set to false for download
          when:
            - offline_install_enabled is defined
            - offline_install_enabled

        - name: Include release vars
          ansible.builtin.include_vars:
            file: "{{ item }}"
          with_first_found:
            - "gateway-release-{{ gateway_release }}.yml" # Prefer this new format
            - "{{ gateway_release }}-{{ ansible_distribution
              | lower }}-{{ ansible_distribution_major_version }}.yml"
            - "release-undefined.yml"

        - name: Check for valid IAG release
          ansible.builtin.fail:
            msg: "Deployer does not support installing Gateway version {{ gateway_release }}
                on {{ ansible_distribution }}-{{ ansible_distribution_major_version }}"
          when: gateway_invalid_release is defined

    - name: Download Python RPMs
      ansible.builtin.include_tasks:
        file: download-python-rpms.yml

    - name: Download Gateway dependency RPMs
      ansible.builtin.include_tasks:
        file: download-dependency-rpms.yml

    - name: Download Gateway build RPMs
      ansible.builtin.include_tasks:
        file: download-build-rpms.yml

    - name: Download Gateway wheel
      ansible.builtin.include_tasks:
        file: download-gateway-wheel.yml

    - name: Download Gateway dependency wheels
      ansible.builtin.include_tasks:
        file: download-dependency-wheels.yml

  always:
    - name: Uninstall Python RPMs
      ansible.builtin.dnf:
        name: "{{ item }}"
        state: absent
        autoremove: true
      with_items: "{{ python_install_result.results | selectattr('changed', 'equalto', true)
                  | map(attribute='item') }}"
      when:
        - python_install_result is defined
        - python_install_result.results is defined
        - python_install_result.results | length > 0

    - name: Uninstall Gateway dependency RPMs
      ansible.builtin.dnf:
        name: "{{ item }}"
        state: absent
        autoremove: true
      with_items: "{{ gateway_packages_installed.results | selectattr('changed', 'equalto', true)
                  | map(attribute='item') }}"
      when:
        - gateway_packages_installed is defined
        - gateway_packages_installed.results is defined
        - gateway_packages_installed.results | length > 0

    - name: Uninstall Gateway build RPMs
      ansible.builtin.dnf:
        name: "{{ item }}"
        state: absent
        autoremove: true
      with_items: "{{ gateway_build_packages_installed.results | selectattr('changed', 'equalto', true)
                  | map(attribute='item') }}"
      when:
        - gateway_build_packages_installed is defined
        - gateway_build_packages_installed.results is defined
        - gateway_build_packages_installed.results | length > 0
