# Copyright (c) 2024, Itential, Inc
# GNU General Public License v3.0+ (see LICENSE or https://www.gnu.org/licenses/gpl-3.0.txt)
---

# The owner and group are intentionally unset throughout in order to use the current user.
#
# From the Ansible documentation:
# group - When left unspecified, it uses the current group of the current user unless you are root,
# in which case it can preserve the previous ownership.
# owner - When left unspecified, it uses the current user unless you are root, in which case it can
# preserve the previous ownership.

- name: Download base Python wheels
  ansible.builtin.import_role:
    name: offline
    tasks_from: download-wheels
  vars:
    offline_wheel_files: "{{ gateway_python_base_dependencies }}"
    offline_download_dir: "{{ gateway_offline_target_node_wheels_dir }}/base"
    offline_pip_executable: "{{ gateway_pip_executable }}"
  when:
    - gateway_python_base_dependencies is defined
    - gateway_python_base_dependencies | length > 0

- name: Copy base Python dependencies to control node
  ansible.builtin.import_role:
    name: offline
    tasks_from: fetch-packages
  vars:
    offline_src_dir: "{{ gateway_offline_target_node_wheels_dir }}/base"
    offline_dest_dir: "{{ gateway_offline_control_node_wheels_dir }}/base"

- name: Create temporary working directory
  ansible.builtin.tempfile:
    state: directory
  register: gateway_pkgs_temp_dir

- name: Setup Python virtual environment
  ansible.builtin.command:
    chdir: "{{ gateway_pkgs_temp_dir.path }}"
    cmd: "{{ gateway_python_executable }} -m venv offline_download"
  changed_when: true

- name: Install base Python dependencies
  ansible.builtin.pip:
    name: "{{ gateway_python_base_dependencies }}"
    state: present
    virtualenv: "{{ gateway_pkgs_temp_dir.path }}/offline_download"
    extra_args: --log /var/log/pip.log
  when:
    - gateway_python_base_dependencies is defined
    - gateway_python_base_dependencies is iterable
    - gateway_python_base_dependencies | length > 0

- name: Install IAG Python dependencies
  ansible.builtin.pip:
    name: "{{ gateway_python_app_dependencies }}"
    state: present
    virtualenv: "{{ gateway_pkgs_temp_dir.path }}/offline_download"
    extra_args: --log /var/log/pip.log
  when:
    - gateway_python_app_dependencies is defined
    - gateway_python_app_dependencies is iterable
    - gateway_python_app_dependencies | length > 0

- name: Download Ansible collections
  ansible.builtin.include_tasks:
    file: download-ansible-collections.yml
  when:
    - gateway_ansible_collections is defined
    - gateway_ansible_collections is iterable
    - gateway_ansible_collections | length > 0

- name: Build wheels from source distributions
  ansible.builtin.command:
    cmd: >
      offline_download/bin/pip3 wheel
      {{ item }}
      -w {{ gateway_offline_target_node_wheels_dir }}/app
      --no-deps
  args:
    chdir: "{{ gateway_pkgs_temp_dir.path }}"
  loop: "{{ gateway_python_wheel_build_dependencies }}"
  changed_when: true

- name: Download automation-gateway and remaining dependencies
  ansible.builtin.command:
    cmd: >
      offline_download/bin/pip3 download {{ gateway_wheel_download.files[0].path }}
      -d {{ gateway_offline_target_node_wheels_dir }}/app
  args:
    chdir: "{{ gateway_pkgs_temp_dir.path }}"
  changed_when: true

- name: Find source distributions after building wheels
  ansible.builtin.find:
    paths: "{{ gateway_offline_target_node_wheels_dir }}/app"
    patterns: "*.tar.gz"
  register: gateway_source_dists

- name: Delete source distributions
  ansible.builtin.file:
    path: "{{ item.path }}"
    state: absent
  loop: "{{ gateway_source_dists.files }}"

- name: Copy IAG Python dependencies to control node
  ansible.builtin.import_role:
    name: offline
    tasks_from: fetch-packages
  vars:
    offline_src_dir: "{{ gateway_offline_target_node_wheels_dir }}/app"
    offline_dest_dir: "{{ gateway_offline_control_node_wheels_dir }}/app"

- name: Remove temporary working directory
  ansible.builtin.file:
    path: "{{ gateway_pkgs_temp_dir.path }}"
    state: absent
