# Copyright (c) 2024, Itential, Inc
# GNU General Public License v3.0+ (see LICENSE or https://www.gnu.org/licenses/gpl-3.0.txt)
---

- name: Download Gateway Python rpms
  ansible.builtin.import_role:
    name: offline
    tasks_from: download-rpms
  vars:
    download_method: yum_module
    download_packages: "{{ python_packages }}"
    download_dir: "{{ rpms_download_dir_target_node }}"
  tags: download_gateway_python_packages

- name: Install Python
  ansible.builtin.include_role:
    name: python
  tags: install_python

- name: Include tasks to download IAG dependencies
  ansible.builtin.include_tasks:
    file: download-python-dependencies.yml

- name: Uninstall Python rpms
  ansible.builtin.yum:
    name: "{{ item }}"
    state: absent
    autoremove: true
  with_items: "{{ python_install_result.results | selectattr('changed', 'equalto', true) | map(attribute='item') }}"
