# Copyright (c) 2024, Itential, Inc
# GNU General Public License v3.0+ (see LICENSE or https://www.gnu.org/licenses/gpl-3.0.txt)
---
- name: Install Python
  ansible.builtin.include_role:
    name: python
  tags: install_python
  vars:
    python_packages: "{{ gateway_python_packages[ansible_distribution_major_version] }}"

- name: Setup python virtual environment
  ansible.builtin.command:
    chdir: "{{ gateway_install_dir }}"
    cmd: "{{ gateway_python_executable }} -m venv {{ gateway_venv_name }}"
  changed_when: true

- name: Include the virtual environment in default shell
  ansible.builtin.shell:
    cmd: echo source {{ gateway_install_dir }}/{{ gateway_venv_name }}/bin/activate > /etc/profile.d/venv.sh
  changed_when: true

- name: Install Python dependencies
  ansible.builtin.include_role:
    name: python
    tasks_from: install-dependencies
  tags: install_python
  when: not offline_install_enabled
  vars:
    python_venv: "{{ gateway_python_venv }}"
    python_base_dependencies: "{{ gateway_python_base_dependencies }}"
    python_app_dependencies: "{{ gateway_python_app_dependencies }}"

- name: Install Python dependencies (offline)
  when: offline_install_enabled
  block:
    - name: Install base Python dependencies (offline)
      ansible.builtin.include_role:
        name: offline
        tasks_from: install-wheels
      vars:
        offline_wheels_dir: "{{ gateway_offline_control_node_wheels_dir }}/base"
        offline_python_venv: "{{ gateway_python_venv }}"

    - name: Install application Python dependencies (offline)
      ansible.builtin.include_role:
        name: offline
        tasks_from: install-wheels
      vars:
        offline_wheels_dir: "{{ gateway_offline_control_node_wheels_dir }}/app"
        offline_python_venv: "{{ gateway_python_venv }}"
