# Copyright (c) 2024, Itential, Inc
# GNU General Public License v3.0+ (see LICENSE or https://www.gnu.org/licenses/gpl-3.0.txt)
---
- name: Validation steps
  tags: always
  block:
    - name: Include release vars
      ansible.builtin.include_vars:
        file: "{{ item }}"
      with_first_found:
        - "gateway-release-{{ gateway_release }}.yml" # Prefer this new format
        - "{{ gateway_release }}-{{ ansible_distribution
          | lower }}-{{ ansible_distribution_major_version }}.yml"
        - "release-undefined.yml"

    - name: Check for valid IAG release
      ansible.builtin.fail:
        msg: "Deployer does not support installing Gateway version {{ gateway_release }}
             on {{ ansible_distribution }}-{{ ansible_distribution_major_version }}"
      when: gateway_invalid_release is defined

- name: Create temporary working directory
  ansible.builtin.tempfile:
    state: directory
  register: workingdir

- name: Install Gateway dependency packages
  ansible.builtin.dnf:
    name: "{{ item }}"
    state: present
  with_items: "{{ gateway_packages }}"
  when:
    - not offline_install_enabled | bool
    - gateway_packages is defined
    - gateway_packages is iterable
    - gateway_packages | length > 0
  tags: install_gateway_packages

- name: Install Gateway dependency packages (offline)
  ansible.builtin.import_role:
    name: offline
    tasks_from: install-rpms
  vars:
    offline_rpms_path: "{{ gateway_offline_control_node_rpms_dir }}/dependencies"
  when: offline_install_enabled | bool
  tags: install_gateway_packages

- name: Create itential group
  ansible.builtin.group:
    name: "{{ gateway_group }}"

- name: Create itential user
  ansible.builtin.user:
    name: "{{ gateway_user }}"
    group: "{{ gateway_group }}"
    groups: wheel
    generate_ssh_key: true
    state: present

- name: Create working directories
  ansible.builtin.file:
    name: "{{ item }}"
    owner: "{{ gateway_user }}"
    group: "{{ gateway_group }}"
    mode: "0775"
    state: directory
  with_items:
    - /etc/ansible
    - "{{ gateway_log_dir }}"
    - "{{ gateway_properties_location }}"
    - "{{ gateway_data_dir }}"
    - "{{ gateway_install_dir }}"
    - "{{ gateway_ansible_collections_path }}"
    - "{{ gateway_install_dir }}/ansible/inventory"
    - "{{ gateway_install_dir }}/ansible/modules"
    - "{{ gateway_install_dir }}/ansible/roles"
    - "{{ gateway_install_dir }}/ansible/playbooks"
    - "{{ gateway_install_dir }}/ansible/plugins/modules"
    - "{{ gateway_install_dir }}/ansible/scripts"
    - "{{ gateway_install_dir }}/conf"
    - "{{ gateway_install_dir }}/conf/certs"
    - "{{ gateway_install_dir }}/nornir/conf"
    - "{{ gateway_install_dir }}/nornir/inventory"
    - "{{ gateway_install_dir }}/nornir/modules"
    - "{{ gateway_install_dir }}/repos"
    - "{{ gateway_install_dir }}/scripts"
    - "{{ gateway_install_dir }}/ssh"

- name: Create Python venv directory
  ansible.builtin.file:
    name: "{{ gateway_install_dir }}/python-venvs"
    owner: "{{ gateway_user }}"
    group: "{{ gateway_group }}"
    mode: "0775"
    state: directory
  when: gateway_enable_python_venv | bool

- name: Copy certs
  ansible.builtin.include_tasks:
    file: copy-certs.yml
  when: gateway_https and gateway_ssl_copy_certs

- name: Install Python
  tags: install_python
  block:
    - name: Install Python
      ansible.builtin.include_tasks:
        file: install-python.yml

- name: Install Gateway build packages
  tags: install_gateway_build_packages
  block:
    - name: Install Gateway build packages
      ansible.builtin.dnf:
        name: "{{ item }}"
        state: present
      register: gateway_build_packages_result
      with_items: "{{ gateway_build_packages }}"
      when:
        - not offline_install_enabled | bool
        - gateway_build_packages is defined
        - gateway_build_packages is iterable
        - gateway_build_packages | length > 0

    - name: Install Gateway build packages (offline)
      when: offline_install_enabled | bool
      block:
        - name: Install Gateway build packages (offline)
          ansible.builtin.import_role:
            name: offline
            tasks_from: install-rpms
          vars:
            offline_rpms_path: "{{ gateway_offline_control_node_rpms_dir }}/build"

        # Build a list of installed build packages. The rpm_list variable is registered in the
        # offline install-rpms.
        - name: Set Gateway build package list
          ansible.builtin.set_fact:
            installed_gateway_build_package_list:
              "{{ installed_gateway_build_package_list | default([]) +
              [item | basename | split('.el') | first] }}"
          with_items: "{{ rpm_list.files | map(attribute='path') | list | sort }}"
          when:
            - rpm_list is defined
            - rpm_list is iterable
            - rpm_list | length > 0

        # Build a list of build packages that need to be removed later. We don't want to remove
        # all of the installed build packages, only the ones that are in the gateway_build_packages
        # and installed_gateway_build_package_list.
        - name: Set Gateway build package remove list
          ansible.builtin.set_fact:
            gateway_build_package_remove_list:
              "{{ gateway_build_package_remove_list | default([]) + [item] }}"
          with_items: "{{ gateway_build_packages }}"
          when: installed_gateway_build_package_list | select('search', item | regex_escape) | list | length > 0

- name: Install Python dependencies
  tags: install_python_dependencies
  block:
    - name: Install Python dependencies
      ansible.builtin.include_tasks:
        file: install-python-dependencies.yml

# Need to install ansible within the virtual environment
- name: Install Ansible
  tags: install_ansible
  when: gateway_enable_ansible | bool
  block:
    - name: Install Ansible and Ansible collections
      when: not offline_install_enabled | bool
      block:
        - name: Install Ansible into the python virtual environment
          ansible.builtin.pip:
            name: "{{ gateway_ansible_version }}"
            virtualenv: "{{ gateway_install_dir }}/venv"

        - name: Install collections
          ansible.builtin.command:
            argv:
              - "{{ gateway_install_dir }}/venv/bin/ansible-galaxy"
              - collection
              - install
              - -p
              - "{{ gateway_ansible_collections_path }}"
              - "{{ gateway_ansible_collections | join(' ') }}"
          register: install_result
          changed_when: '"Nothing to do" not in install_result.stdout'
          failed_when: install_result.failed
          when:
            - gateway_ansible_collections is defined
            - gateway_ansible_collections is iterable
            - gateway_ansible_collections | length > 0

    - name: Install Ansible collections (offline)
      ansible.builtin.include_tasks:
        file: install-ansible-collections-offline.yml
      when: offline_install_enabled | bool

    - name: Create Ansible config file
      ansible.builtin.template:
        src: ansible.cfg.j2
        dest: /etc/ansible/ansible.cfg
        mode: "0644"
        backup: true

    - name: Create empty ansible inventory files
      ansible.builtin.file:
        name: "{{ gateway_install_dir }}/ansible/inventory/hosts"
        owner: "{{ gateway_user }}"
        group: "{{ gateway_group }}"
        mode: "0660"
        state: touch

    - name: Create empty ansible vault file
      ansible.builtin.file:
        name: "{{ gateway_install_dir }}/conf/.vault_password_file"
        owner: "{{ gateway_user }}"
        group: "{{ gateway_group }}"
        mode: "0400"
        state: touch

- name: Check if Automation Gateway is already installed
  ansible.builtin.stat:
    path: "{{ gateway_install_dir }}/venv/automation-gateway"
  register: gateway_installed

- name: Copy IAG archive from local
  ansible.builtin.copy:
    src: "{{ gateway_whl_file }}"
    dest: "{{ workingdir.path }}/{{ gateway_whl_file | basename }}"
    mode: '0644'
  when:
    - not gateway_installed.stat.exists
    - gateway_whl_file is defined
    - gateway_archive_download_url is not defined

- name: Download IAG archive from repository
  when:
    - not gateway_installed.stat.exists
    - gateway_archive_download_url is defined
    - gateway_whl_file is not defined
  block:
    - name: Download IAG archive from repository
      ansible.builtin.get_url:
        url: "{{ gateway_archive_download_url }}"
        dest: "{{ workingdir.path }}/"
        mode: '0644'
        # Sets the appropriate header based on the repository type:
        # - For JFrog: Uses the "X-JFrog-Art-Api" header with the API key if "repository_api_key"
        #   is defined and "jfrog" is part of the download URL.
        # - For Nexus: Uses a default header ("Accept: application/octet-stream") since Nexus
        #   doesn't support API key authentication.
        headers: >-
          {%- if repository_api_key is defined and gateway_archive_download_url is search("jfrog") -%}
            {"X-JFrog-Art-Api": "{{ repository_api_key }}", "Accept": "application/octet-stream"}
          {%- else -%}
            {"Accept": "application/octet-stream"}
          {%- endif -%}
        url_username: "{{ repository_username | default(omit) }}"
        url_password: "{{ repository_password | default(omit) }}"
        validate_certs: true
      register: download_result

    - name: Set gateway_whl_file destination from download
      ansible.builtin.set_fact:
        gateway_whl_file: "{{ download_result.dest }}"

- name: Install IAG
  ansible.builtin.pip:
    name: "{{ workingdir.path }}/{{ gateway_whl_file | basename }}"
    virtualenv: "{{ gateway_install_dir }}/venv"

- name: Set ownership/permissions and create properties.yml
  when: not gateway_installed.stat.exists
  block:
    # Using chown and chmod is a faster way to enforce the file ownership and
    # permissions. The file module in ansible checks each and every file/dir
    # in the tree, 'chown -R ' does not, it just sets it.
    - name: Set appropriate ownership on all gateway files
      ansible.builtin.command:
        cmd: "chown -R {{ gateway_user }}:{{ gateway_group }} {{ gateway_install_dir }}/venv"
      changed_when: true

    - name: Set appropriate permissions on all gateway files
      ansible.builtin.command:
        cmd: "chmod -R 775 {{ gateway_install_dir }}/venv"
      changed_when: true

    - name: Create properties.yml using template based on the version
      ansible.builtin.template:
        src: "properties.{{ gateway_release }}.yml.j2"
        dest: "{{ gateway_properties_location }}/properties.yml"
        owner: "{{ gateway_user }}"
        group: "{{ gateway_group }}"
        mode: "0600"

- name: Create Nornir files
  when: gateway_enable_nornir | bool
  block:
    - name: Create Nornir inventory files (empty)
      ansible.builtin.file:
        name: "{{ item }}"
        owner: "{{ gateway_user }}"
        group: "{{ gateway_group }}"
        mode: "0660"
        state: touch
      with_items:
        - "{{ gateway_install_dir }}/nornir/inventory/defaults.yml"
        - "{{ gateway_install_dir }}/nornir/inventory/groups.yml"
        - "{{ gateway_install_dir }}/nornir/inventory/hosts.yml"

    - name: Create Nornir config file
      ansible.builtin.template:
        src: nornir.config.yml.j2
        dest: "{{ gateway_install_dir }}/nornir/config.yml"
        owner: "{{ gateway_user }}"
        group: "{{ gateway_group }}"
        mode: "0660"

- name: Write automation-gateway.service to host
  ansible.builtin.template:
    src: automation-gateway.service.j2
    dest: /etc/systemd/system/automation-gateway.service
    mode: "0644"
    backup: true

# Check if firewalld is running, if it is then open the appropriate ports
- name: Gather service facts
  ansible.builtin.service_facts:

- name: Configure HTTP Port on FirewallD Public Zone
  ansible.posix.firewalld:
    port: "{{ gateway_port }}/tcp"
    permanent: true
    state: "{{ (gateway_https or gateway_haproxy_enabled) | ternary('disabled', 'enabled') }}"
    zone: public
    immediate: true
  when:
    - ansible_facts.services["firewalld.service"] is defined
    - ansible_facts.services["firewalld.service"].state == "running"
    - ansible_facts.services["firewalld.service"].status == "enabled"

- name: Configure HTTPS Port on FirewallD Public Zone
  ansible.posix.firewalld:
    port: "{{ gateway_https_port }}/tcp"
    permanent: true
    state: "{{ (gateway_https or gateway_haproxy_enabled) | ternary('enabled', 'disabled') }}"
    zone: public
    immediate: true
  when:
    - ansible_facts.services["firewalld.service"] is defined
    - ansible_facts.services["firewalld.service"].state == "running"
    - ansible_facts.services["firewalld.service"].status == "enabled"

- name: Allow IAG to listen on tcp port {{ gateway_port }}
  community.general.seport:
    ports: "{{ gateway_port }}"
    proto: tcp
    setype: http_port_t
    state: present
  when: ansible_selinux.status == "enabled"

- name: Start Automation Gateway service
  ansible.builtin.systemd:
    name: automation-gateway
    enabled: true
    state: restarted
    daemon_reload: true

- name: Update release file
  ansible.builtin.include_tasks:
    file: update-release-file.yml

- name: Remove temporary working directory
  ansible.builtin.file:
    path: "{{ workingdir.path }}"
    state: absent

- name: Uninstall Gateway build packages
  tags: uninstall_gateway_build_packages
  block:
    - name: Uninstall Gateway build packages
      ansible.builtin.dnf:
        name: "{{ item }}"
        allowerasing: true
        autoremove: true
        state: absent
      with_items: "{{ gateway_build_packages_result.results | selectattr('changed', 'equalto', true)
                  | map(attribute='item') }}"
      when:
        - not offline_install_enabled | bool
        - gateway_build_packages_result.results is defined
        - gateway_build_packages_result.results is iterable
        - gateway_build_packages_result.results | length > 0

    - name: Uninstall Gateway build packages (offline)
      when: offline_install_enabled | bool
      block:
        - name: Get list of yum repos (to disable temporarily) # noqa command-instead-of-module
          ansible.builtin.command: yum -q repolist
          register: repolist_result
          changed_when: false

        - name: Uninstall Gateway build packages (offline)
          ansible.builtin.dnf:
            name: "{{ gateway_build_package_remove_list }}"
            state: absent
            enablerepo: []
            disablerepo: "{{ repolist_result.stdout_lines[1:] | map('split', ' ')
                         | map('first') | list }}"

- name: Assert that Gateway is running
  ansible.builtin.systemd:
    name: automation-gateway
  register: gateway_status
  failed_when: gateway_status.status.ActiveState != "active"
  tags: always
