# Copyright (c) 2024, Itential, Inc
# GNU General Public License v3.0+ (see LICENSE or https://www.gnu.org/licenses/gpl-3.0.txt)
---
- name: Update release file with IAG version
  ansible.builtin.lineinfile:
    path: "{{ common_itential_release_file }}"
    line: "GATEWAY={{ gateway_release }}"
    mode: "0666"
    create: true
  changed_when: true

- name: Capture Python version
  ansible.builtin.command:
    cmd: "{{ gateway_python_venv }}/bin/python3 -V"
  register: python_installed_version
  changed_when: false

- name: Update release file with Python version
  ansible.builtin.lineinfile:
    path: "{{ common_itential_release_file }}"
    line: "PYTHON={{ python_installed_version.stdout }}"
    mode: "0666"
    create: true
  changed_when: true

- name: Capture Pip version
  ansible.builtin.command:
    cmd: "{{ gateway_python_venv }}/bin/pip3 -V"
  register: pip_installed_version
  changed_when: false

- name: Update release file with Pip version
  ansible.builtin.lineinfile:
    path: "{{ common_itential_release_file }}"
    line: "PIP={{ pip_installed_version.stdout }}"
    mode: "0666"
    create: true
  changed_when: true

- name: Update release file with Ansible version
  when: gateway_enable_ansible | bool
  block:
    - name: Get Ansible version from automation-gateway venv
      ansible.builtin.command:
        cmd: "{{ gateway_python_venv }}/bin/ansible --version"
      register: gateway_ansible_venv_version
      changed_when: false

    - name: Extract version
      ansible.builtin.set_fact:
        gateway_ansible_version: "{{ gateway_ansible_venv_version.stdout_lines[0] | regex_search('\\d+\\.\\d+\\.\\d+') }}"

    - name: Update release file with Ansible version
      ansible.builtin.lineinfile:
        path: "{{ common_itential_release_file }}"
        line: "ANSIBLE={{ gateway_ansible_version }}"
        mode: "0666"
        create: true
      changed_when: true

- name: Update release file with Nornir version
  ansible.builtin.lineinfile:
    path: "{{ common_itential_release_file }}"
    line: "NORNIR=true"
    mode: "0666"
    create: true
  when: gateway_enable_nornir | bool
  changed_when: true
