# Copyright (c) 2024, Itential, Inc
# GNU General Public License v3.0+ (see LICENSE or https://www.gnu.org/licenses/gpl-3.0.txt)
---
mongodb_release_url:
  "https://repo.mongodb.org/yum/{% if ansible_distribution_file_variety == 'OracleLinux' %}redhat{% else %}{{ ansible_distribution_file_variety | lower }}{% endif %}/{{ ansible_distribution_major_version }}/mongodb-org/{{ mongodb_version }}/{{ ansible_architecture }}/"

# The mongodb role uses the system python3 executables.
mongodb_python_executable: /usr/bin/python3
mongodb_pip_executable: /usr/bin/pip3
mongodb_python_base_dependencies:
  - pip
mongodb_python_app_dependencies:
  - pymongo

# To isolate Python, a virtual environment is used.
mongodb_python_venv_root: /var/tmp
mongodb_python_venv_name: mongodb_venv
mongodb_python_venv: "{{ mongodb_python_venv_root }}/{{ mongodb_python_venv_name }}"

# Mongod service settings
mongodb_mongod_service_retries: 5
mongodb_mongod_service_delay: 10

# MongoDB status settings
mongodb_status_poll: 3
mongodb_status_interval: 10

# The name and location of the certification report
mongodb_report_dir: "/tmp/itential-reports"
mongodb_report_file: "{{ mongodb_report_dir }}/mongodb_report_{{ inventory_hostname }}.md"
