# Copyright (c) 2024, Itential, Inc
# GNU General Public License v3.0+ (see LICENSE or https://www.gnu.org/licenses/gpl-3.0.txt)
---
- name: Discover MongoDB configuration state
  tags: create_mongo_users
  itential.deployer.mongodb_state:
    host: "{{ ansible_host }}"
    port: "{{ mongodb_port | default(27017) }}"
    admin_user: "{{ mongodb_user_admin }}"
    admin_password: "{{ mongodb_user_admin_password }}"
    hosts: "{{ groups['mongodb'] }}"
  register: mongodb_state
  run_once: true
  delegate_to: "{{ groups['mongodb'][0] }}"
  vars:
    ansible_python_interpreter: "{{ mongodb_python_venv }}/bin/python3"

- name: Display MongoDB state
  tags: create_mongo_users
  ansible.builtin.debug:
    msg:
      - "MongoDB running: {{ mongodb_state.mongodb_running }}"
      - "Service running: {{ mongodb_state.service_running | default('N/A') }}"
      - "Port open: {{ mongodb_state.port_open }}"
      - "Service state: {{ mongodb_state.service_state | default('N/A') }}"
      - "Authentication enabled: {{ mongodb_state.auth_enabled }}"
      - "Credentials valid: {{ mongodb_state.auth_valid | default('N/A') }}"
      - "Replica set enabled: {{ mongodb_state.replication_enabled }}"
      - "Replica set name: {{ mongodb_state.replica_set_name | default('N/A') }}"
      - "Primary host: {{ mongodb_state.primary_host }}"
      - "TLS enabled: {{ mongodb_state.tls_enabled }}"
      - "TLS mode: {{ mongodb_state.tls_mode }}"
      - "MongoDB version: {{ mongodb_state.mongodb_version }}"
  run_once: true

# Execute the template to apply changes to the mongo.conf for replication
- name: Create MongoDB config file (replicaset)
  ansible.builtin.template:
    src: mongod.conf.j2
    dest: "{{ mongodb_conf_file }}"
    owner: "{{ mongodb_owner }}"
    group: "{{ mongodb_group }}"
    mode: "0644"
  when: not mongodb_state.replication_enabled
  vars:
    stage: "replication"

- name: Start mongo (replicaset)
  ansible.builtin.service:
    name: mongod
    state: restarted
    enabled: true
  register: mongod_service_result
  until: mongod_service_result.status.ActiveState == "active"
  retries: "{{ mongodb_mongod_service_retries }}"
  delay: "{{ mongodb_mongod_service_delay }}"
  when: not mongodb_state.replication_enabled

- name: Set empty array of mongo servers
  ansible.builtin.set_fact:
    mongodb_servers: []
  when: not mongodb_state.replication_enabled

# This task should always run, arbiter or not
- name: Create the replicaset members list (no arbiter)
  ansible.builtin.set_fact:
    mongodb_servers: "{{ mongodb_servers + [item + ':' + mongodb_port | string] }}"
  with_items: "{{ groups.mongodb }}"
  when:
    - not mongodb_state.replication_enabled
    - inventory_hostname in groups.mongodb
    - groups.mongodb.index(inventory_hostname) == 0

# This task will only run when there is an arbiter defined in the hosts file
- name: Add the arbiter to the list of servers when there is one
  ansible.builtin.set_fact:
    mongodb_servers: "{{ mongodb_servers + [item + ':' + mongodb_port | string] }}"
  with_items: "{{ groups.mongodb_arbiter }}"
  when:
    - not mongodb_state.replication_enabled
    - inventory_hostname in groups.mongodb
    - groups.mongodb.index(inventory_hostname) == 0
    - groups.mongodb_arbiter is defined

- name: Create the replicaset
  community.mongodb.mongodb_replicaset:
    arbiter_at_index: "{{ (groups.mongodb_arbiter | default([]) | length > 0) | ternary(mongodb_servers | length - 1, omit) }}"
    auth_mechanism: "SCRAM-SHA-256"
    login_user: "{{ (mongodb_state.auth_enabled | bool) | ternary(mongodb_user_admin, omit) }}"
    login_password: "{{ (mongodb_state.auth_enabled | bool) | ternary(mongodb_user_admin_password, omit) }}"
    login_port: "{{ mongodb_port }}"
    login_database: admin
    login_host: "{{ inventory_hostname }}"
    members: "{{ mongodb_servers }}"
    replica_set: "{{ mongodb_replset_name }}"
    validate: true
  when:
    - not mongodb_state.replication_enabled
    - inventory_hostname in groups.mongodb
    - groups.mongodb.index(inventory_hostname) == 0
  vars:
    ansible_python_interpreter: "{{ mongodb_python_venv }}/bin/python3"

- name: Ensure replicaset is stable before continuing
  community.mongodb.mongodb_status:
    login_user: "{{ mongodb_state.auth_enabled | ternary(mongodb_user_admin, omit) }}"
    login_password: "{{ mongodb_state.auth_enabled | ternary(mongodb_user_admin_password, omit) }}"
    login_port: "{{ mongodb_port }}"
    login_database: admin
    login_host: "{{ inventory_hostname }}"
    replica_set: "{{ mongodb_replset_name }}"
    poll: "{{ mongodb_status_poll }}"
    interval: "{{ mongodb_status_interval }}"
    validate: minimal
  register: rs
  failed_when:
    - "'Unable to determine if auth is enabled' not in rs.msg"
    - "'replicaset is in a converged state' not in rs.msg"
  when:
    - not mongodb_state.replication_enabled
    - inventory_hostname in groups.mongodb
  vars:
    ansible_python_interpreter: "{{ mongodb_python_venv }}/bin/python3"

# Starting in MongoDB 5.0, the implicit default write concern is w: majority.
# However, special considerations are made for deployments containing arbiters:
# The voting majority of a replica set is 1 plus half the number of voting
# members, rounded down. If the number of data-bearing voting members is not
# greater than the voting majority, the default write concern is { w: 1 }.
# In all other scenarios, the default write concern is { w: "majority" }.
# Specifically, MongoDB uses the following formula to determine the default
# write concern:
#
#   if [ (#arbiters > 0) AND (#non-arbiters <= majority(#voting-nodes)) ]
#     defaultWriteConcern = { w: 1 }
#   else
#     defaultWriteConcern = { w: "majority" }
#
# When there are 2 non-arbiters and 1 arbiter for a total of 3 voting nodes,
# the majority of voting nodes (1 plus half of 3, rounded down) is 2. Therefore
# The number of non-arbiters (2) is equal to the majority of voting nodes (2),
# resulting in an implicit write concern of { w: 1 }. When there are 4
# non-arbiters and 1 arbiter for a total of 5 voting nodes, the majority of
# voting nodes (1 plus half of 5, rounded down) is 3. The number of non-arbiters
# (4) is greater than the majority of voting nodes (3), resulting in an implicit
# write concern of { w: "majority" }.
#
# Thus, conditionally run the following command to force the appropriate
# writeConcern when there is 1 arbiter and 2 non-arbiters.
- name: Adjust the default writeConcern if there are arbiters
  community.mongodb.mongodb_shell:
    mongo_cmd: auto
    login_user: "{{ mongodb_state.auth_enabled | ternary(mongodb_user_admin, omit) }}"
    login_password: "{{ mongodb_state.auth_enabled | ternary(mongodb_user_admin_password, omit) }}"
    login_port: "{{ mongodb_port }}"
    login_database: admin
    login_host: "{{ inventory_hostname }}"
    eval: db.adminCommand({"setDefaultRWConcern":1,"defaultWriteConcern":{"w":1}})
  when:
    - not mongodb_state.replication_enabled
    - inventory_hostname in groups.mongodb
    - inventory_hostname == mongodb_state.primary_host
    - groups.mongodb | length < 3
    - groups.mongodb_arbiter | default([]) | length > 0
  vars:
    ansible_python_interpreter: "{{ mongodb_python_venv }}/bin/python3"
