# Copyright (c) 2024, Itential, Inc
# GNU General Public License v3.0+ (see LICENSE or https://www.gnu.org/licenses/gpl-3.0.txt)
---
- name: Include tasks to validate variables
  ansible.builtin.include_tasks:
    file: validate-vars.yml
  tags: always

- name: Validate distribution major version
  ansible.builtin.fail:
    msg: Download not supported for version 7
  when: ansible_distribution_major_version == "7"

# - name: Validate install variable
#   ansible.builtin.fail:
#     msg: install must be set to false for download
#   when:
#     - install is defined
#     - install

- name: Install MongoDB repo
  ansible.builtin.yum_repository:
    name: mongodb
    description: MongoDB Repository
    baseurl: "{{ mongodb_release_url }}"
    enabled: true
    gpgcheck: true
    gpgkey: "{{ mongodb_gpgkey_url }}"
  when: install_yum_repos | bool

- name: Download MongoDB rpms
  ansible.builtin.import_role:
    name: offline
    tasks_from: download-rpms
  vars:
    download_method: yum_module
    download_packages: "{{ mongodb_packages }}"
    download_dir: "{{ rpms_download_dir_target_node }}"

- name: Download Python packages
  ansible.builtin.include_tasks:
    file: download-packages-python.yml

- name: Copy rpms to control node
  ansible.builtin.import_role:
    name: offline
    tasks_from: fetch-packages
  vars:
    src_dir: "{{ rpms_download_dir_target_node }}"
    dest_dir: "{{ rpms_download_dir_control_node }}"

- name: Copy base Python dependencies to control node
  ansible.builtin.import_role:
    name: offline
    tasks_from: fetch-packages
  vars:
    src_dir: "{{ wheels_download_dir_target_node }}/base"
    dest_dir: "{{ wheels_download_dir_control_node }}/base"

- name: Copy MongoDB Python dependencies to control node
  ansible.builtin.import_role:
    name: offline
    tasks_from: fetch-packages
  vars:
    src_dir: "{{ wheels_download_dir_target_node }}/app"
    dest_dir: "{{ wheels_download_dir_control_node }}/app"
