# Copyright (c) 2024, Itential, Inc
# GNU General Public License v3.0+ (see LICENSE or https://www.gnu.org/licenses/gpl-3.0.txt)
---
- name: Install Python
  ansible.builtin.include_role:
    name: python
  tags: install_python
  vars:
    python_executable: "{{ mongodb_python_executable }}"

- name: Setup python virtual environment
  ansible.builtin.command:
    chdir: "{{ mongodb_python_venv_root }}"
    cmd: "{{ mongodb_python_executable }} -m venv {{ mongodb_python_venv_name }}"
  changed_when: true
  tags: install_python

- name: Install Python dependencies
  ansible.builtin.include_role:
    name: python
    tasks_from: install-dependencies
  tags: install_python
  vars:
    python_pip_executable: "{{ mongodb_pip_executable }}"
    python_venv: "{{ mongodb_python_venv }}"
    app_python_dependencies: "{{ mongodb_app_python_dependencies }}"
