# Copyright (c) 2024, Itential, Inc
# GNU General Public License v3.0+ (see LICENSE or https://www.gnu.org/licenses/gpl-3.0.txt)
---
- name: Install Python and its dependencies
  tags: install_python
  block:

    - name: Install Python
      ansible.builtin.include_role:
        name: python
      vars:
        python_executable: "{{ mongodb_python_executable }}"
        python_packages: "{{ mongodb_python_packages }}"

    - name: Check if python virtual environment already exists
      ansible.builtin.stat:
        path: "{{ mongodb_python_venv }}"
      register: mongodb_python_venv_check

    - name: Setup python virtual environment
      ansible.builtin.command:
        chdir: "{{ mongodb_python_venv_root }}"
        cmd: "{{ mongodb_python_executable }} -m venv {{ mongodb_python_venv_name }}"
      register: mongodb_python_venv_result
      changed_when: mongodb_python_venv_result.changed
      when: not mongodb_python_venv_check.stat.exists

    - name: Install Python dependencies
      ansible.builtin.include_role:
        name: python
        tasks_from: install-dependencies
      vars:
        python_venv: "{{ mongodb_python_venv }}"
        python_base_dependencies: "{{ mongodb_python_base_dependencies }}"
        python_app_dependencies: "{{ mongodb_python_app_dependencies }}"
      when: not offline_install_enabled

    - name: Install Python dependencies (offline)
      when: offline_install_enabled
      block:
        - name: Install base Python dependencies (offline)
          ansible.builtin.include_role:
            name: offline
            tasks_from: install-wheels
          vars:
            offline_wheels_dir: "{{ mongodb_offline_control_node_wheels_dir }}/base"
            offline_python_venv: "{{ mongodb_python_venv }}"

        - name: Install application Python dependencies (offline)
          ansible.builtin.include_role:
            name: offline
            tasks_from: install-wheels
          vars:
            offline_wheels_dir: "{{ mongodb_offline_control_node_wheels_dir }}/app"
            offline_python_venv: "{{ mongodb_python_venv }}"
