# Copyright (c) 2024, Itential, Inc
# GNU General Public License v3.0+ (see LICENSE or https://www.gnu.org/licenses/gpl-3.0.txt)
---

# Install the mongodb repo if mongodb is not already installed
- name: Install MongoDB repo
  ansible.builtin.yum_repository:
    name: "mongodb"
    description: MongoDB Repository
    baseurl: "{{ mongodb_release_url }}"
    enabled: true
    gpgcheck: true
    gpgkey: "{{ mongodb_gpgkey_url }}"
  when:
    - install_yum_repos | bool
    - "'mongodb-org' not in ansible_facts.packages"

# Install mongodb if mongodb is not already installed
- name: Install MongoDB packages (online)
  ansible.builtin.dnf:
    name: "{{ mongodb_packages }}"
    state: present
  when: "'mongodb-org' not in ansible_facts.packages"
