module itential_redis_sentinel 1.0;

require {
	type init_t;
	type redis_exec_t;
	type init_exec_t;
	type default_t;
	class lnk_file read;
}

#============= init_t ==============
allow init_t default_t:lnk_file read;
allow init_t init_exec_t:lnk_file read;
allow init_t redis_exec_t:lnk_file read;
