{
  "isEncrypted": true,
  "loggerProps": {
    "console_level": "info",
    "description": "Logging",
    "log_directory": "{{ iap_install_dir }}/logs",
    "log_filename": "ldap_adapter.log",
    "log_level": "info",
    "log_max_file_size": 10485760,
    "log_max_files": 10,
    "log_timezone_offset": 0,
    "syslog": {
      "app_name": "",
      "eol": "",
      "facility": "local0",
      "host": "127.0.0.1",
      "level": "warning",
      "localhost": "",
      "path": "",
      "pid": "process.pid",
      "port": 514,
      "protocol": "udp4",
      "type": "BSD"
    }
  },
  "model": "@itential/adapter-ldap",
  "name": "LDAP",
  "properties": {
    "brokers": [
      "aaa"
    ],
    "groups": [],
    "id": "LDAP",
    "properties": {
      "OAuthOptions": {
        "client_id": "",
        "client_secret": "",
        "enabled": false,
        "host": "",
        "port": 443,
        "redirect_url": "",
        "resource": "",
        "token_path": ""
      },
      "activeDirectory": false,
      "baseDN": "",
      "baseGroupDN": "",
      "baseUserDN": "",
      "bindPassword": "",
      "bindUsername": "",
      "connectTimeout": 5000,
      "customGroups": [],
      "domain": "",
      "groupMemberAttribute": "member",
      "groupSearchFilter": "(objectClass=groupOfUniqueNames)",
      "healthCheckInterval": 5000,
      "idleTimeout": 5000,
      "reconnect": true,
      "timeLimit": 10,
      "timeout": 5000,
      "tlsOptions": {
        "ca": "",
        "rejectUnauthorized": true,
        "requestCert": true,
        "secureProtocol": ""
      },
      "url": "",
      "userMembershipAttribute": "memberOf",
      "userSearchFilter": "uid"
    },
    "type": "LDAP"
  },
  "type": "Adapter",
  "virtual": false
}
