{% if rabbitmq_home_dir != rabbitmq_default_home_dir %}
HOME={{ rabbitmq_home_dir }}
RABBITMQ_MNESIA_BASE={{ rabbitmq_home_dir }}
RABBITMQ_MNESIA_DIR={{ rabbitmq_home_dir }}/mnesia
{% endif %}
{% if rabbitmq_port != rabbitmq_default_port %}
RABBITMQ_NODE_PORT={{ rabbitmq_port }}
{% endif %}
{% if rabbitmq_distribution_buffer_size is defined %}
RABBITMQ_DISTRIBUTION_BUFFER_SIZE={{ rabbitmq_distribution_buffer_size }}
{% endif %}
