# Copyright (c) 2024, Itential, Inc
# GNU General Public License v3.0+ (see LICENSE or https://www.gnu.org/licenses/gpl-3.0.txt)
---
- name: Validate python_pip_executable or python_venv is set
  ansible.builtin.fail:
    msg: "either python_pip_executable or python_venv must be set"
  when:
    - python_pip_executable is not defined
    - python_venv is not defined

- name: Install Python dependencies
  when: not offline_install_enabled
  tags: install_python_dependencies
  block:
    - name: Use Python virtual env
      when: python_venv is defined
      block:
        - name: Install base Python dependencies in virtual env
          ansible.builtin.pip:
            name: "{{ python_base_dependencies }}"
            virtualenv: "{{ python_venv }}"
          when:
            - python_base_dependencies is defined
            - python_base_dependencies | length > 0

        - name: Install application Python dependencies in virtual env
          ansible.builtin.pip:
            name: "{{ python_app_dependencies }}"
            virtualenv: "{{ python_venv }}"
          when:
            - python_app_dependencies is defined
            - python_app_dependencies | length > 0

    - name: Use Python executable
      when:
        - python_pip_executable is defined
        - python_venv is not defined
      block:
        - name: Install base Python dependencies using pip executable
          ansible.builtin.pip:
            name: "{{ python_base_dependencies }}"
            executable: "{{ python_pip_executable }}"
            umask: "0022"
          when:
            - python_base_dependencies is defined
            - python_base_dependencies | length > 0

        - name: Install application Python dependencies using pip executable
          ansible.builtin.pip:
            name: "{{ python_app_dependencies }}"
            executable: "{{ python_pip_executable }}"
          when:
            - python_app_dependencies is defined
            - python_app_dependencies | length > 0

- name: Install Python dependencies (offline)
  when: offline_install_enabled
  tags: install_python_dependencies
  block:
    - name: Install base Python dependencies (offline)
      ansible.builtin.include_role:
        name: offline
        tasks_from: install-wheels
      vars:
        offline_wheels_dir: "{{ wheels_download_dir_control_node }}/base"

    - name: Install application Python dependencies (offline)
      ansible.builtin.include_role:
        name: offline
        tasks_from: install-wheels
      vars:
        offline_wheels_dir: "{{ wheels_download_dir_control_node }}/app"
        offline_pip_executable: "{{ python_pip_executable }}"
