# Copyright (c) 2024, Itential, Inc
# GNU General Public License v3.0+ (see LICENSE or https://www.gnu.org/licenses/gpl-3.0.txt)
---
# When authorization is enabled in mongo using a replica set, the members of
# the set will be required to authenticate too. This is accomplished with a
# keyFile or x509 certificate. It is assumed that this keyFile already exists.
- name: Modify mongod.conf to enable authorization
  ansible.builtin.lineinfile:
    path: "{{ mongo_conf_file }}"
    regexp: "^  authorization: disabled"
    line: "  authorization: enabled"

# The keyFile is only required if there is replication
- name: Modify mongod.conf to include key file location if this a replica set
  ansible.builtin.lineinfile:
    path: "{{ mongo_conf_file }}"
    regexp: "^  #keyFile: /etc/ssl/"
    line: "  keyFile: {{ mongo_auth_keyfile_destination }}"
  when: mongodb_replication | bool

- name: Check if key exists on the first node
  when:
    - inventory_hostname == groups['mongodb'][0]
    - mongodb_replication | bool
  run_once: true
  ansible.builtin.stat:
    path: "{{ mongo_auth_keyfile_destination }}"
  register: keyfile_stat

- name: Generate key (if missing) and copy to all nodes
  when:
    - inventory_hostname == groups['mongodb'][0]
    - mongodb_replication | bool
    - not keyfile_stat.stat.exists
  run_once: true
  block:
    - name: Generate a new replica set key with OpenSSL
      ansible.builtin.shell:
        cmd: openssl rand -base64 756 > "{{ mongo_auth_keyfile_destination }}"
      args:
        creates: "{{ mongo_auth_keyfile_destination }}"

    - name: Set key file ownership and permissions
      ansible.builtin.file:
        path: "{{ mongo_auth_keyfile_destination }}"
        owner: "{{ mongo_owner }}"
        group: "{{ mongo_group }}"
        mode: '0400'

    - name: Copy the generated key to all MongoDB nodes
      ansible.builtin.copy:
        src: "{{ mongo_auth_keyfile_destination }}"
        dest: "{{ mongo_auth_keyfile_destination }}"
        remote_src: true
        owner: "{{ mongo_owner }}"
        group: "{{ mongo_group }}"
        mode: '0400'
      loop: "{{ groups['mongodb'] }}"
      delegate_to: "{{ item }}"

- name: Check the auth status
  ansible.builtin.include_role:
    name: mongodb_common
    tasks_from: check-auth-status.yml
  when: inventory_hostname in groups.mongodb

- name: Determine the primary server
  ansible.builtin.include_role:
    name: mongodb_common
    tasks_from: determine-primary-server.yml
  when: inventory_hostname in groups.mongodb

- name: Restart mongo
  ansible.builtin.include_role:
    name: mongodb_common
    tasks_from: restart-mongo.yml
