# Copyright (c) 2024, Itential, Inc
# GNU General Public License v3.0+ (see LICENSE or https://www.gnu.org/licenses/gpl-3.0.txt)
---
- name: Check release file
  ansible.builtin.stat:
    path: "{{ itential_release_file }}"
  register: release_file

- name: Check for supported os family
  ansible.builtin.fail:
    msg: "itential.installer does not support distribution '{{ ansible_os_family.lower() }}'"
  when: ansible_os_family.lower() not in ('redhat',)

- name: Include OS specific tasks
  ansible.builtin.include_tasks: "{{ ansible_os_family.lower() }}.yaml"
  when: not release_file.stat.exists
