---
logging:
    enabled: False

inventory:
    plugin: SimpleInventory
    options:
        host_file: "{{ iag_install_dir }}/nornir/inventory/hosts.yml"
        group_file: "{{ iag_install_dir }}/nornir/inventory/groups.yml"
        defaults_file: "{{ iag_install_dir }}/nornir/inventory/defaults.yml"
runner:
    plugin: threaded
    options:
        num_workers: 100
