[Unit]
Description=Itential Automation Platform Service
After=network.target
Requires=network.target

[Service]
Type=simple
User={{ iap_user }}
WorkingDirectory={{ iap_install_dir }}/current
ExecStart=/usr/bin/node --max-old-space-size=8192 server.js
Restart=on-failure
ExecReload=/bin/kill -USR2 $MAINPID

[Install]
WantedBy=multi-user.target
