{% if mongobdb_svc_url_itential is defined %}
  {% set connection_string = mongobdb_svc_url_itential %}
{% else %}
  {% set mongo_hosts = [] %}
  {% set userpassword = "" %}
  {% set replsetOption = "" %}
  {% set tlsOptions = "" %}
  {% if mongodb_tls | bool %}
    {% set tlsOptions = "&tls=true&tlsCAFile=" + itential_root_ca_file_destination %}
  {% endif %}
  {% if mongodb_auth | bool %}
    {% set userpassword = "itential:" + ( mongo_user_itential_password | urlencode | regex_replace("/","%2F") ) + "@" %}
  {% endif %}
  {% if mongodb_replication | bool %}
    {% for h in groups['mongodb'] -%}
      {{ mongo_hosts.append( h + ":" + mongo_port|string) }}
    {%- endfor %}
    {% if groups["mongodb_arbiter"] is defined and groups["mongodb_arbiter"] | length > 0 -%}
      {{ mongo_hosts.append( hostvars [ groups["mongodb_arbiter"][0] ].inventory_hostname + ":" + mongo_port|string ) }}
    {%- endif %}
    {% set mongo_hosts_str = mongo_hosts|join(',') %}
    {% set replsetOption = "?replicaSet=" + mongo_replset_name %}
  {% else %}
    {% set mongo_hosts_str = hostvars[ groups['mongodb'][0] ].inventory_hostname + ":" + mongo_port|string %}
  {% endif %}
  {% set connection_string = "mongodb://" + userpassword + mongo_hosts_str + "/" + mongo_itential_db_name + replsetOption + tlsOptions %}
{% endif %}
{{ connection_string }}