# Copyright (c) 2024, Itential, Inc
# GNU General Public License v3.0+ (see LICENSE or https://www.gnu.org/licenses/gpl-3.0.txt)
---
- name: Include release vars
  ansible.builtin.include_vars:
    file: "{{ item }}"
  with_first_found:
    - "release-{{ gateway_release }}.yml"
    - "release-undefined.yml"

- name: Check for valid IAG release
  ansible.builtin.fail:
    msg: "Deployer does not support installing HAProxy on {{ gateway_release }}"
  when: gateway_haproxy_invalid_release is defined

- name: Install HAProxy
  ansible.builtin.package:
    name: haproxy
    state: present

# Itential does not attempt to create any HTTPS certificates. These must be
# created independently. When they are included in the appropriate location
# the installer will ensure that they get uploaded to the correct location.
- name: Copy IAG HTTPS certificates to the appropriate remote location
  ansible.builtin.copy:
    src: "{{ gateway_haproxy_ssl_cert_src }}"
    dest: "{{ gateway_haproxy_ssl_cert_dest }}"
    mode: '0400'
    group: haproxy
    owner: haproxy

- name: Generate HAProxy config from template
  ansible.builtin.template:
    src: haproxy.cfg.j2
    dest: "{{ gateway_haproxy_conf_file }}"
    group: haproxy
    owner: haproxy
    mode: "0660"

- name: Start HAProxy
  ansible.builtin.service:
    name: haproxy
    enabled: false
    state: restarted

- name: Assert that HAProxy is running
  block:
    - name: Get HAProxy service status
      ansible.builtin.service:
        name: haproxy
      register: gateway_haproxy_status

    - name: Assert that HAProxy is running
      ansible.builtin.assert:
        that: gateway_haproxy_status.status.ActiveState == "active"
        fail_msg: "HAProxy service is not running (state: {{ gateway_haproxy_status.status.ActiveState }})"
        success_msg: "HAProxy service is running correctly"

- name: Remove temporary working directory
  ansible.builtin.file:
    path: "{{ workingdir.path }}"
    state: absent
