Name: {{results['name']}}
Role: Redis
Pass: {{results['pass']}}


SELinux     | {{results['SELinux']}}
http_proxy  | {{ 'Yes' if results['http_proxy'] else 'None'}}
https_proxy | {{ 'Yes' if results['https_proxy'] else 'None'}}
IPv6        | {{ 'Enabled' if results['ipv6'] else 'Disabled'}}

CPU         | {{ 'Pass' if results['cpuCores'] >= redis_cpu_cores else 'FAIL'}}       | Cores: {{results['cpuCores']}}     Req: {{redis_cpu_cores}}
HDD         | {{ 'Pass' if results['/_sizeAvailable'] >= redis_free_disk_space else 'FAIL'}}       | Free: {{results['/_sizeAvailable']}} on {{results['mount']}} Req: {{redis_free_disk_space}}
Memory      | {{ 'Pass' if results['memory'] >= redis_ram else 'FAIL'}}       | Free: {{results['memory']}}  Req: {{redis_ram}}

URL  | Status
{% for key, value in results['url_status'].items() %}
{{key}} | {{value}}
{% endfor %}