[Unit]
Description=Redis Sentinel
After=network.target
After=network-online.target
Wants=network-online.target

[Service]
ExecStart={{ redis_bin_dir }}/redis-sentinel {{ redis_sentinel_conf_file }} --daemonize no --supervised systemd
Type=notify
User={{ redis_owner }}
Group={{ redis_group }}
RuntimeDirectory=redis
RuntimeDirectoryMode=0755

[Install]
WantedBy=multi-user.target
