
module redis_varlib 1.0;

require {
        type redis_t;
        type default_t;
        type unreserved_port_t;
        type var_lib_t;
        type var_log_t;
        class dir { add_name create read remove_name write };
        class file { append create getattr open read rename unlink write };
        class tcp_socket name_bind;
}

#============= redis_t ==============

allow redis_t default_t:dir { add_name create read remove_name write };
allow redis_t default_t:file { append create getattr open read rename unlink write };
allow redis_t unreserved_port_t:tcp_socket name_bind;
allow redis_t var_lib_t:dir { add_name write };
allow redis_t var_lib_t:file { getattr read };
allow redis_t var_log_t:file open;
