# Copyright (c) 2024, Itential, Inc
# GNU General Public License v3.0+ (see LICENSE or https://www.gnu.org/licenses/gpl-3.0.txt)
---
- name: Validate AppRole configuration variables
  ansible.builtin.assert:
    that:
      - vault_approle_name is defined
      - vault_approle_name | length > 0
      - vault_approle_policy_name is defined
      - vault_approle_policy_name | length > 0
      - vault_approle_dir is defined
      - vault_approle_dir | length > 0
      - vault_policy_dir is defined
      - vault_policy_dir | length > 0
    fail_msg: "Required AppRole variables are not properly defined"

- name: Validate AppRole TTL settings
  ansible.builtin.assert:
    that:
      - vault_approle_token_ttl is defined
      - vault_approle_token_max_ttl is defined
      - vault_approle_secret_id_ttl is defined
      - vault_approle_secret_id_num_uses is defined
    fail_msg: "AppRole TTL and usage settings must be defined"

- name: Print AppRole configuration
  ansible.builtin.debug:
    msg:
      - "AppRole Name: {{ vault_approle_name }}"
      - "Policy Name: {{ vault_approle_policy_name }}"
      - "Token TTL: {{ vault_approle_token_ttl }}"
      - "Token Max TTL: {{ vault_approle_token_max_ttl }}"
      - "Secret ID TTL: {{ vault_approle_secret_id_ttl }}"
      - "Secret ID Num Uses: {{ vault_approle_secret_id_num_uses }}"
