# Copyright (c) 2024, Itential, Inc
# GNU General Public License v3.0+ (see LICENSE or https://www.gnu.org/licenses/gpl-3.0.txt)
---
- name: Validate and set installation variables
  tags: always
  block:
    - name: Validate an installation variable is set
      ansible.builtin.assert:
        that: platform_release is defined or vault_packages is defined
        fail_msg: "platform_release OR vault_packages must be defined"

    - name: Set installation variables when using Itential Platform release defaults
      when: platform_release is defined
      block:
        - name: Load release default variables
          ansible.builtin.include_vars:
            file: "{{ item }}"
          with_first_found:
            - "platform-release-{{ platform_release }}.yml"
            - "platform-release-{{ platform_release | string | split('.') | first }}.yml"
            - "platform-release-undefined.yml"

        - name: Check for valid Vault release
          ansible.builtin.assert:
            that: vault_invalid_platform_release is not defined
            fail_msg: >-
              Deployer does not support installing Vault
              for Itential Platform release {{ platform_release }}

        - name: Set vault_packages to the default value when not defined in inventory
          ansible.builtin.set_fact:
            vault_packages: "{{ vault_packages_default[ansible_distribution_major_version] }}"
          when: vault_packages is not defined

    - name: Print Vault installation details
      ansible.builtin.debug:
        msg: "Vault packages: {{ vault_packages }}"
      when: not offline_install_enabled
