# Copyright (c) 2024, Itential, Inc
# GNU General Public License v3.0+ (see LICENSE or https://www.gnu.org/licenses/gpl-3.0.txt)
---
- name: Online install
  when: not offline_install_enabled
  block:
    - name: Create temporary download directory
      ansible.builtin.tempfile:
        state: directory
      register: platform_package_temp_download_dir
      changed_when: false

    - name: Upload packages from control node
      ansible.builtin.include_tasks:
        file: upload-platform-archive-from-local.yml
      loop: "{{ platform_packages }}"
      loop_control:
        loop_var: artifact
      when:
        - "'http' not in artifact"
        - artifact.endswith('.rpm')

    - name: Download packages from repository
      ansible.builtin.include_tasks:
        file: download-platform-archive-from-repo.yml
      loop: "{{ platform_packages }}"
      loop_control:
        loop_var: artifact
      when:
        - "'http' in artifact"
        - artifact.endswith('.rpm')

    - name: Find downloaded packages
      ansible.builtin.find:
        paths: "{{ platform_package_temp_download_dir.path }}"
        patterns: "*.rpm"
      register: platform_packages_find_result
      changed_when: false

    - name: Install the Itential Platform packages
      when: platform_packages_find_result | length > 0
      block:
        - name: Determine if the packages need to be relocated
          ansible.builtin.set_fact:
            platform_relocate_packages: true
          when: >
            - (platform_root_dir != platform_root_dir_default or
               platform_install_dir != platform_install_dir_default or
               platform_services_dir != platform_services_dir_default or
               platform_log_dir != platform_log_dir_default or
               platform_config_dir != platform_config_dir_default or
               platform_itential_home_dir != platform_itential_home_dir_default)

        - name: Install the Itential Platform packages (standard install directories)
          ansible.builtin.dnf:
            name: "{{ platform_packages_find_result.files | map(attribute='path') | join(',') }}"
            disable_gpg_check: true
            state: present
          when: platform_relocate_packages is not defined

        - name: Install the Itential Platform packages (relocate install directories)
          ansible.builtin.include_tasks:
            file: install-platform-packages-relocate.yml
          when: platform_relocate_packages is defined

        # TODO: Implement installing from a yum repo
        # - name: Install the Itential Platform packages (YUM repository)
        #   ansible.builtin.dnf:
        #     name: "{{ item.path }}"
        #     disable_gpg_check: true
        #     state: present
        #   loop: "{{ platform_packages }}"
        #   loop_control:
        #     loop_var: artifact
        #   when:
        #     - "'http' not in artifact"
        #     - not artifact.endswith('.rpm')

    - name: Remove temporary download directory
      ansible.builtin.file:
        path: "{{ platform_package_temp_download_dir.path }}"
        state: absent
      changed_when: false

- name: Install Platform (offline)
  ansible.builtin.include_role:
    name: offline
    tasks_from: install-rpms
  vars:
    offline_rpms_path: "{{ platform_offline_control_node_rpms_dir }}/platform"
  when: offline_install_enabled
