# Copyright (c) 2024, Itential, Inc
# GNU General Public License v3.0+ (see LICENSE or https://www.gnu.org/licenses/gpl-3.0.txt)
---
- name: Download archive files local
  when: iap_bin_file is defined or iap_tar_file is defined
  ansible.builtin.include_tasks:
    file: install-platform-from-local.yml

- name: Download archive files repository
  when: iap_archive_download_url is defined
  ansible.builtin.include_tasks:
    file: install-platform-from-repo.yml

# Extract bin file contents
# -e Extract tar archive and exit
# -y Assume defaults for all prompts & run non-interactively
# -d Installation directory, where to extract the files
# We are no longer going to depend on the shell code that is contained within
# the bin file. Just extract the tar from the bin and perform the rest of the
# upgrade with this role for transparency. If the extracted directory already
# exists then do nothing (creates).
- name: Extract the bin file contents
  when: iap_bin_file is defined
  ansible.builtin.command:
    cmd: "{{ iap_install_dir }}/{{ iap_bin_file }} -ey -d {{ iap_install_dir }}"
    chdir: "{{ iap_install_dir }}"
    creates: "{{ iap_install_dir }}/{{ iap_package_name }}"

- name: Extract the tar file contents
  when: iap_tar_file is defined
  ansible.builtin.unarchive:
    src: "{{ iap_install_dir }}/{{ iap_tar_file }}"
    dest: "{{ iap_install_dir }}"
    remote_src: true

- name: Create the "current" symlink
  ansible.builtin.file:
    path: "{{ iap_install_dir }}/current"
    src: "{{ iap_install_dir }}/{{ iap_package_name }}"
    owner: "{{ iap_user }}"
    group: "{{ iap_group }}"
    state: link

- name: Remove the source file
  when: remove_iap_source_file | bool
  block:
    - name: Remove the bin file
      ansible.builtin.file:
        path: "{{ iap_install_dir }}/{{ iap_bin_file }}"
        state: absent
      when: iap_bin_file is defined

    - name: Remove the tar file
      ansible.builtin.file:
        path: "{{ iap_install_dir }}/{{ iap_tar_file }}"
        state: absent
      when: iap_tar_file is defined
