# Copyright (c) 2024, Itential, Inc
# GNU General Public License v3.0+ (see LICENSE or https://www.gnu.org/licenses/gpl-3.0.txt)
---
- name: Upload the Itential Platform artifact file using rsync
  ansible.posix.synchronize:
    src: "{{ artifact }}"
    dest: "{{ platform_package_temp_download_dir.path }}/{{ artifact }}"
    rsync_opts: "--copy-links"
  when: platform_upload_using_rsync
  changed_when: false

- name: Upload the Itential Platform artifact file using copy
  ansible.builtin.copy:
    src: "{{ artifact }}"
    dest: "{{ platform_package_temp_download_dir.path }}/{{ artifact }}"
    owner: "{{ platform_user }}"
    group: "{{ platform_group }}"
    mode: "0775"
    force: false
  when: not platform_upload_using_rsync
  changed_when: false
