# Copyright (c) 2024, Itential, Inc
# GNU General Public License v3.0+ (see LICENSE or https://www.gnu.org/licenses/gpl-3.0.txt)
---
- name: Validate download_dir is set
  ansible.builtin.fail:
    msg: "download_dir is not set"
  when: download_dir is not defined

- name: Validate download_method is set
  ansible.builtin.fail:
    msg: "download_method is not set"
  when: download_method is not defined

- name: Download packages
  when:
    - download_packages is defined
    - download_packages is iterable
    - download_packages | length > 0
  block:
    - name: Validate download method
      ansible.builtin.fail:
        msg: "invalid download method"
      when: download_method is not defined or download_method not in ['yum_module', 'yum_install', 'yum_reinstall', 'repotrack', 'yumdownloader']

    - name: Create download directory
      ansible.builtin.file:
        path: "{{ download_dir }}"
        state: directory
        mode: '0755'

    - name: Download packages (ansible yum module)
      ansible.builtin.yum:
        name: "{{ download_packages }}"
        state: present
        download_only: true
        download_dir: "{{ download_dir }}"
      when: download_method == "yum_module"

    - name: Download packages (yum install)
      ansible.builtin.command:
        cmd: yum install --downloadonly --downloaddir "{{ download_dir }}" -y "{{ download_packages }}"
      changed_when: true
      when: download_method == "yum_install"

    - name: Download packages (yum reinstall)
      ansible.builtin.command:
        cmd: yum reinstall --downloadonly --downloaddir "{{ download_dir }}" -y "{{ download_packages }}"
      changed_when: true
      when: download_method == "yum_reinstall"

    - name: Download packages (repotrack)
      ansible.builtin.command:
        cmd: repotrack "{{ download_packages }}"
      args:
        chdir: "{{ download_dir }}"
      changed_when: true
      when: download_method == "repotrack"

    - name: Use yumdownloader
      when: download_method == "yumdownloader"
      block:
        - name: Install Yum utils
          ansible.builtin.yum:
            name: yum-utils
            state: present

        - name: Download packages (yumdownloader)
          ansible.builtin.command:
            cmd: "yumdownloader --resolve --downloaddir {{ download_dir }} {{ download_packages | join(' ') }}"
          changed_when: true
          failed_when: false

