# Copyright (c) 2024, Itential, Inc
# GNU General Public License v3.0+ (see LICENSE or https://www.gnu.org/licenses/gpl-3.0.txt)
---
- name: Validate offline_download_dir is set
  ansible.builtin.fail:
    msg: "offline_download_dir is not set"
  when: offline_download_dir is not defined

- name: Create download directory
  ansible.builtin.file:
    path: "{{ offline_download_dir }}"
    state: directory
    mode: '0755'

# When the --no-deps option is used, package dependencies will not be downloaded.
- name: Download wheel files (no deps)
  ansible.builtin.command:
    cmd: "{{ offline_pip_executable }} download --no-deps {{ offline_wheel_files | join(' ') }}"
  args:
    chdir: "{{ offline_download_dir }}"
  changed_when: true
  when: offline_with_deps is not defined or not offline_with_deps

# Package dependencies will be downloaded.
- name: Download wheel files (with deps)
  ansible.builtin.command:
    cmd: "{{ offline_pip_executable }} download {{ offline_wheel_files | join(' ') }}"
  args:
    chdir: "{{ offline_download_dir }}"
  changed_when: true
  when:
    - offline_with_deps is defined
    - offline_with_deps
