# Copyright (c) 2024, Itential, Inc
# GNU General Public License v3.0+ (see LICENSE or https://www.gnu.org/licenses/gpl-3.0.txt)
---
- name: Validate offline_rpms_path is set
  ansible.builtin.assert:
    that: offline_rpms_path is defined
    msg: "offline_rpms_path must be set"

- name: Create temporary working directory
  ansible.builtin.tempfile:
    state: directory
  register: install_packages_temp_dir

- name: Copy RPMs to target node
  ansible.builtin.copy:
    src: "{{ item }}"
    dest: "{{ install_packages_temp_dir.path }}/{{ item | basename }}"
    mode: '0644'
  with_fileglob: "{{ offline_rpms_path }}/*.rpm"

- name: Find RPMs on target node
  ansible.builtin.find:
    paths: "{{ install_packages_temp_dir.path }}"
    patterns: "*.rpm"
  register: rpm_list

- name: Rebuild RPM database
  ansible.builtin.command: rpmdb --rebuilddb
  changed_when: false

- name: Get list of yum repos (to disable temporarily) # noqa command-instead-of-module
  ansible.builtin.command: yum -q repolist
  register: repolist_result
  changed_when: false

- name: Install RPMs
  ansible.builtin.dnf:
    name: "{{ rpm_list.files | map(attribute='path') | list | sort }}"
    state: present
    disable_gpg_check: true
    cacheonly: true
    install_weak_deps: false
    enablerepo: []
    disablerepo: "{{ repolist_result.stdout_lines[1:] | map('split', ' ') | map('first') | list }}"

- name: Remove temporary working directory
  ansible.builtin.file:
    path: "{{ install_packages_temp_dir.path }}"
    state: absent
