---
logging:
    enabled: False

inventory:
    plugin: SimpleInventory
    options:
        host_file: "{{ iag_install_dir }}/nornir/inventory/hosts.yaml"
        group_file: "{{ iag_install_dir }}/nornir/inventory/groups.yaml"
        defaults_file: "{{ iag_install_dir }}/nornir/inventory/defaults.yaml"
runner:
    plugin: threaded
    options:
        num_workers: 100
