# Copyright (c) 2024, Itential, Inc
# GNU General Public License v3.0+ (see LICENSE or https://www.gnu.org/licenses/gpl-3.0.txt)
---
- name: Download Vault packages
  hosts: vault
  become: true
  vars:
    offline_install_enabled: false
  roles:
    - role: itential.deployer.common_vars
  tasks:
    - name: Download Vault packages
      ansible.builtin.import_role:
        name: itential.deployer.vault
        tasks_from: download-packages
      run_once: true
