# Copyright (c) 2025, Itential, Inc
# GNU General Public License v3.0+ (see LICENSE or https://www.gnu.org/licenses/gpl-3.0.txt)
---
- name: Install nginx
  hosts: nginx
  become: true

  tasks:
    - name: Install nginx
      ansible.builtin.include_role:
        name: nginxinc.nginx

    - name: Ensure nginx is started and enabled
      ansible.builtin.systemd:
        name: nginx
        state: restarted
        enabled: true

    - name: Assert that nginx is running
      block:
        - name: Get nginx service status
          ansible.builtin.systemd:
            name: nginx
          register: nginx_status

        - name: Assert that nginx is running
          ansible.builtin.assert:
            that: nginx_status.status.ActiveState == "active"
            fail_msg: "Nginx service is not running (state: {{ nginx_status.status.ActiveState }})"
            success_msg: "Nginx service is running correctly"
