[Unit]
Description=MongoDB Prometheus Exporter
Wants=network-online.target
After=network-online.target

[Service]
{% if mongodb_auth %}
Environment="MONGODB_USER=admin"
Environment="MONGODB_PASSWORD={{ mongo_user_admin_password }}"
{% endif %}
User={{ prometheus_user }}
Group={{ prometheus_group }}
Type=simple
ExecStart={{ prometheus_dir }}/mongodb_exporter \
  --mongodb.uri="mongodb://localhost:{{ mongo_port }}/admin" \
  --web.listen-address=":{{ prometheus_mongo_exporter_port }}" \
  --web.telemetry-path="/metrics" \
  --collect-all

[Install]
WantedBy=multi-user.target