[Unit]
Description=Process Exporter for Prometheus
Documentation=https://github.com/ncabatoff/process-exporter
Wants=network-online.target
After=network-online.target

[Service]
User={{ prometheus_user }}
Group={{ prometheus_group }}
Type=simple
Restart=on-failure
ExecStart=/opt/prometheus/process-exporter \
  --config.path /opt/prometheus/process_exporter_config.yml \
  --web.listen-address=:9256 \
  --children=false \
  --recheck=true \
  --threads=false

[Install]
WantedBy=multi-user.target