[Unit]
Description=Redis Exporter
Wants=network-online.target
After=network-online.target

[Service]
User={{ prometheus_user }}
Group={{ prometheus_group }}
Type=simple
{% if redis_auth %}
ExecStart={{ prometheus_dir }}/redis_exporter --redis.user prometheus --redis.password {{ redis_user_prometheus_password }}
{% else %}
ExecStart={{ prometheus_dir }}/redis_exporter
{% endif %}

[Install]
WantedBy=multi-user.target
