{{ ansible_managed | comment }}
{%- set iap_exporter_targets = [] -%}
{%- set process_exporter_targets = [] -%}
{%- set node_export_targets = [] -%}
{%- set mongodb_exporter_targets = [] -%}
{%- set redis_exporter_targets = [] -%}
{%- set rabbitmq_exporter_targets = [] -%}

{%- if iap_https -%}
  {%- set iap_port = iap_https_port -%}
{%- else -%}
  {%- set iap_port = iap_http_port -%}
{%- endif -%}

{%- for host in groups['platform'] -%}
  {%- set iap_exporter_web_listen_address = host + ":" + iap_port | string -%}
  {{ iap_exporter_targets.append( iap_exporter_web_listen_address ) }}

  {% if 'process_exporter_web_listen_address' in hostvars[host] %}
    {%- set process_exporter_web_listen_address = hostvars[host].process_exporter_web_listen_address -%}
  {% else %}
    {%- set process_exporter_web_listen_address = host + ":" + prometheus_process_exporter_web_listen_port | string -%}
  {% endif %}
  {{ process_exporter_targets.append( process_exporter_web_listen_address ) }}

  {% if 'node_exporter_web_listen_address' in hostvars[host] %}
    {%- set node_exporter_web_listen_address = hostvars[host].node_exporter_web_listen_address -%}
  {% else %}
    {%- set node_exporter_web_listen_address = host + ":" + prometheus_node_exporter_web_listen_port | string -%}
  {% endif %}
  {{ node_export_targets.append( node_exporter_web_listen_address ) }}
{%- endfor -%}

{%- for host in groups['gateway'] -%}
  {% if 'process_exporter_web_listen_address' in hostvars[host] %}
    {%- set process_exporter_web_listen_address = hostvars[host].process_exporter_web_listen_address -%}
  {% else %}
    {%- set process_exporter_web_listen_address = host + ":" + prometheus_process_exporter_web_listen_port | string -%}
  {% endif %}
  {{ process_exporter_targets.append( process_exporter_web_listen_address ) }}

  {% if 'node_exporter_web_listen_address' in hostvars[host] %}
    {%- set node_exporter_web_listen_address = hostvars[host].node_exporter_web_listen_address -%}
  {% else %}
    {%- set node_exporter_web_listen_address = host + ":" + prometheus_node_exporter_web_listen_port | string -%}
  {% endif %}
  {{ node_export_targets.append( node_exporter_web_listen_address ) }}
{%- endfor -%}

{%- for host in groups['mongodb'] -%}
  {% if 'mongodb_exporter_web_listen_address' in hostvars[host] %}
    {%- set mongodb_exporter_web_listen_address = hostvars[host].mongodb_exporter_web_listen_address -%}
  {% else %}
    {%- set mongodb_exporter_web_listen_address = host + ":" + prometheus_mongodb_exporter_web_listen_port | string -%}
  {% endif %}
  {{ mongodb_exporter_targets.append( mongodb_exporter_web_listen_address ) }}

  {% if 'node_exporter_web_listen_address' in hostvars[host] %}
    {%- set node_exporter_web_listen_address = hostvars[host].node_exporter_web_listen_address -%}
  {% else %}
    {%- set node_exporter_web_listen_address = host + ":" + prometheus_node_exporter_web_listen_port | string -%}
  {% endif %}
  {{ node_export_targets.append( node_exporter_web_listen_address ) }}
{%- endfor -%}

{%- for host in groups['redis'] -%}
  {% if 'redis_exporter_web_listen_address' in hostvars[host] %}
    {%- set redis_exporter_web_listen_address = hostvars[host].redis_exporter_web_listen_address -%}
  {% else %}
    {%- set redis_exporter_web_listen_address = host + ":" + prometheus_redis_exporter_web_listen_port | string -%}
  {% endif %}
  {{ redis_exporter_targets.append( redis_exporter_web_listen_address ) }}

  {% if 'node_exporter_web_listen_address' in hostvars[host] %}
    {%- set node_exporter_web_listen_address = hostvars[host].node_exporter_web_listen_address -%}
  {% else %}
    {%- set node_exporter_web_listen_address = host + ":" + prometheus_node_exporter_web_listen_port | string -%}
  {% endif %}
  {{ node_export_targets.append( node_exporter_web_listen_address ) }}
{%- endfor -%}

{%- for host in groups['rabbitmq'] -%}
  {%- set rabbitmq_exporter_web_listen_address = host + ":" + prometheus_rabbitmq_exporter_web_listen_port | string -%}
  {{ rabbitmq_exporter_targets.append( rabbitmq_exporter_web_listen_address ) }}

  {% if 'node_exporter_web_listen_address' in hostvars[host] %}
    {%- set node_exporter_web_listen_address = hostvars[host].node_exporter_web_listen_address -%}
  {% else %}
    {%- set node_exporter_web_listen_address = host + ":" + prometheus_node_exporter_web_listen_port | string -%}
  {% endif %}
  {{ node_export_targets.append( node_exporter_web_listen_address ) }}
{%- endfor %}

{%- for host in groups['vault'] -%}
  {% if 'node_exporter_web_listen_address' in hostvars[host] %}
    {%- set node_exporter_web_listen_address = hostvars[host].node_exporter_web_listen_address -%}
  {% else %}
    {%- set node_exporter_web_listen_address = host + ":" + prometheus_node_exporter_web_listen_port | string -%}
  {% endif %}
  {{ node_export_targets.append( node_exporter_web_listen_address ) }}
{%- endfor %}

scrape_configs:
{% if node_export_targets | length > 0 %}
  - job_name: node_exporter
    static_configs:
      - targets: {{ node_export_targets | to_json }}
{% endif %}

{% if process_exporter_targets | length > 0 %}
  - job_name: process_exporter
    static_configs:
      - targets: {{ process_exporter_targets | to_yaml(indent=2,sort_keys=False) | indent(2, False) }}
{% endif %}
{% if iap_exporter_targets | length > 0 %}
  - job_name: iap_exporter
    metrics_path: "/prometheus_metrics"
    static_configs:
      - targets: {{ iap_exporter_targets | to_yaml(indent=2,sort_keys=False) | indent(2, False) }}
{% endif %}
{% if redis_exporter_targets | length > 0 %}
  - job_name: redis_exporter
    static_configs:
      - targets: {{ redis_exporter_targets | to_yaml(indent=2,sort_keys=False) | indent(2, False) }}
{% endif %}
{% if mongodb_exporter_targets | length > 0 %}
  - job_name: mongo_exporter
    static_configs:
      - targets: {{ mongodb_exporter_targets | to_yaml(indent=2,sort_keys=False) | indent(2, False) }}
{% endif %}
{% if rabbitmq_exporter_targets | length > 0 %}
  - job_name: rabbitmq_exporter
    static_configs:
      - targets: {{ rabbitmq_exporter_targets | to_yaml(indent=2,sort_keys=False) | indent(2, False) }}
{% endif %}
