{{ ansible_managed | comment }}
{%- set all_hosts = [] -%}
{%- if iap_https -%}
  {%- set iap_port = iap_https_port -%}
{%- else -%}
  {%- set iap_port = iap_http_port -%}
{%- endif -%}
{%- set iap_exporter_targets = [] -%}
{%- set process_exporter_targets = [] -%}
{%- for platform in groups['platform'] -%}
  {%- set platform_uri = platform + ":" + iap_port | string -%}
  {{ iap_exporter_targets.append( platform_uri ) }}
  {%- set platform_proc_uri = platform + ":" + prometheus_process_exporter_port | string -%}
  {{ process_exporter_targets.append( platform_proc_uri ) }}
  {{ all_hosts.append( platform + ":" + prometheus_node_exporter_port | string ) }}
{%- endfor -%}
{%- set mongo_exporter_targets = [] -%}
{%- for hosts in groups['mongodb'] -%}
  {%- set mongo_uri = hosts + ":" + prometheus_mongo_exporter_port | string -%}
  {{ mongo_exporter_targets.append( mongo_uri ) }}
  {{ all_hosts.append( hosts + ":" + prometheus_node_exporter_port | string ) }}
{%- endfor -%}
{%- set redis_exporter_targets = [] -%}
{%- for hosts in groups['redis'] -%}
  {%- set redis_uri = hosts + ":" + prometheus_redis_exporter_port | string -%}
  {{ redis_exporter_targets.append( redis_uri ) }}
  {{ all_hosts.append( hosts + ":" + prometheus_node_exporter_port | string ) }}
{%- endfor -%}
{%- set rabbitmq_exporter_targets = [] -%}
{%- for hosts in groups['rabbitmq'] -%}
  {%- set rabbit_uri = hosts + ":" + prometheus_rabbitmq_exporter_port | string -%}
  {{ rabbitmq_exporter_targets.append( rabbit_uri ) }}
  {{ all_hosts.append( hosts + ":" + prometheus_node_exporter_port | string) }}
{%- endfor %}
{%- for hosts in groups['vault'] -%}
  {{ all_hosts.append( hosts + ":" + prometheus_node_exporter_port | string) }}
{%- endfor %}

scrape_configs:
{% if all_hosts | length > 0 %}
  - job_name: node_exporter
    static_configs:
      - targets: {{ all_hosts | to_json }}
{% endif %}

{% if process_exporter_targets | length > 0 %}
  - job_name: process_exporter
    static_configs:
      - targets: {{ process_exporter_targets | to_yaml(indent=2,sort_keys=False) | indent(2, False) }}
  - job_name: iap_exporter
    metrics_path: "/prometheus_metrics"
    static_configs:
      - targets: {{ iap_exporter_targets | to_yaml(indent=2,sort_keys=False) | indent(2, False) }}
{% endif %}
{% if redis_exporter_targets | length > 0 %}
  - job_name: redis_exporter
    static_configs:
      - targets: {{ redis_exporter_targets | to_yaml(indent=2,sort_keys=False) | indent(2, False) }}
{% endif %}
{% if mongo_exporter_targets | length > 0 %}
  - job_name: mongo_exporter
    static_configs:
      - targets: {{ mongo_exporter_targets | to_yaml(indent=2,sort_keys=False) | indent(2, False) }}
{% endif %}
{% if rabbitmq_exporter_targets | length > 0 %}
  - job_name: rabbitmq_exporter
    static_configs:
      - targets: {{ rabbitmq_exporter_targets | to_yaml(indent=2,sort_keys=False) | indent(2, False) }}
{% endif %}
