name: Test Deployer on Pull Request

on:
  pull_request:
    branches:
      - main

jobs:
  run-test:
    strategy:
      matrix:
        design: [aio, minimal, ha2, asa]
      fail-fast: false
    uses: ./.github/workflows/test-deployer.yml
    with:
      design: ${{ matrix.design }}
      os-type: rocky
      os-version: "9"
    secrets: inherit
